@import './base.css';

#app {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

/* Maps Dialog */
.gm-ui-hover-effect {
  background: black !important;
  border-radius: 100%;
  position: absolute !important;
  right: 6px !important;
  top: 6px !important;
}
.gm-ui-hover-effect span {
  color: white !important;
}
.gm-control-active, .container {
  background: black !important;
  border: 1.75px solid white !important;
  border-radius: 10px !important;
  margin-bottom: 10px !important;
}
.gmnoprint div{
  background: transparent !important;
  box-shadow: none !important;
}
.gm-control-active span {
  background: white !important;
}
